{% extends 'base.html' %}

{% load static %}

{% block title %}
Document Details
{% endblock title %}



{% block content %}
<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Sk Boafo & Co.</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'documents:doc_list' %}">Documents</a>
                            </li>
                            <li class="breadcrumb-item active">Document Details</li>
                        </ol>
                    </div>
                    <h4 class="page-title">docs</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        {% include 'messages/messages.html' %}









        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="mt-0 header-title text-center">
                            {{doc.title|title}}
                        </h2>
                        <p class="text-muted text-center">{{doc.date_added}}

                        </p>
                        <p>Category: {{doc.category|title}}</p>
                        <p>Status: {% if doc.status == "Pending" %}
                            <span class="badge badge-md badge-boxed  badge-soft-">{{doc.status|title}}</span>

                            {% else %}
                            <span class="badge badge-md badge-boxed  badge-soft-">{{doc.status|title}}</span>

                            {% endif %}





                            <div class="accordion" id="accordionExample-faq">
                                <div class="card shadow-none border mb-1">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="my-0">
                                            <button class="btn btn-link ml-4 shadow-none" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Document Description
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExample-faq">
                                        <div class="card-body">
                                            {{doc.description|safe}}
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="card shadow-none border mb-1">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="my-0">
                                            <button class="btn btn-link collapsed ml-4 shadow-none" type="button"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                Attachments
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordionExample-faq">


                                        <div class="card-body">
                                            <div class="file-box-content">
                                                <div class="file-box">
                                                    <a href="{{doc.attachments.url}}" class="download-icon-link">
                                                        <i class="dripicons-download file-download-icon"></i>
                                                    </a>
                                                    <div class="text-center">
                                                        <i class="far fa-file-alt text-primary"></i>
                                                        <h6 class="text-truncate">{{doc.attachments}}</h6>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div> -->
                            </div>





                            <!--end row-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->


            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">


                        <button class="btn btn-primary" data-toggle="modal" data-animation="bounce"
                            data-target=".bs-example-modal-lg">Edit</button>


                        <button class="btn btn-danger" data-toggle="modal" data-animation="bounce"
                            data-target=".bs-example-modal-center">Delete</button>

                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>



            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0 text text-center" id="myLargeModalLabel">Edit
                                doc</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">

                            {% include 'documents/update_document.html' with doc=doc %}

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>




            <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog"
                aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0" id="exampleModalLabel">Delete doc</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>AreYou Sure You Want TO Delete {{doc.title|title}}</p>


                            <form action="{{doc.get_delete_url}}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-secondary" data-dismiss="modal"
                                    aria-label="Close">Cancel</button>

                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>


                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

        </div>
    </div>
    {% endblock content %}