{% extends 'base.html' %}



{% block title %}
Document List
{% endblock title %}









{% block content %}
<!-- Page Content-->
<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Law Firm</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Documents</a></li>
                            <li class="breadcrumb-item active">Document List</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Documents</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->

        {% include 'messages/messages.html' %}






        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-gradient-primary px-4 float-right mt-0 mb-3" data-toggle="modal"
                            data-animation="bounce" data-target=".bs-example-modal-lg"><i
                                class="mdi mdi-plus-circle-outline mr-2"></i>Add New Document</button>



                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title mt-0 text text-center" id="myLargeModalLabel">Add New
                                            Document</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        {% include 'documents/add_document.html' %}
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>




                        <h4 class="header-title mt-0">Documents Details</h4>
                        <div class="table-responsive dash-social">
                            <table id="datatable" class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Document Title</th>
                                        <th>Category</th>
                                        <th>Added By</th>
                                        <th>Status</th>


                                        <th>Date Added</th>
                                        <th>Location</th>


                                        <th>Action</th>
                                    </tr>
                                    <!--end tr-->
                                </thead>

                                {% include 'documents/snippets/list.html' with docs=docs %}
                            </table>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>


    </div>

</div>
{% endblock content %}