{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %}
Add To Archives
{% endblock title %}



{% block content %}

{% include 'messages/messages.html' %}


<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Law Firm</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Archives</a></li>
                            <li class="breadcrumb-item active">Add New</li>
                        </ol>
                    </div>

                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div id='form-errors'>{{ form_errors }}</div>
                            <button type="submit" class="btn btn-secondary">Save changes</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}