{% extends 'base.html' %}

{% load static %}

{% block title %}
Case Details
{% endblock title %}



{% block content %}
<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Law Firm</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'cases:case_list' %}">Cases</a></li>
                            <li class="breadcrumb-item active">Case Details</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Cases</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        {% include 'messages/messages.html' %}









        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="mt-0 header-title text-center">
                            {{case.name|title}}
                        </h2>
                        <p class="text-muted text-center">{{case.date_added}}

                        </p>
                        <p>Category: {{case.category|title}}</p>
                        <p>Status: {% if case.status == "Pending" %}
                            <span class="badge badge-md badge-boxed  badge-soft-success">{{case.status|title}}</span>

                            {% else %}
                            <span class="badge badge-md badge-boxed  badge-soft-danger">{{case.status|title}}</span>

                            {% endif %}





                            <div class="accordion" id="accordionExample-faq">
                                <div class="card shadow-none border mb-1">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="my-0">
                                            <button class="btn btn-link ml-4 shadow-none" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Case Description
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExample-faq">
                                        <div class="card-body">
                                            {{case.description|safe}}
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow-none border mb-1">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="my-0">
                                            <button class="btn btn-link collapsed ml-4 align-self-center shadow-none"
                                                type="button" data-toggle="collapse" data-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                Assigned Lawyers
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample-faq">
                                        <div class="card-body">

                                            <div class="row">
                                                {% for lawyer in lawyers  %}
                                                <div class="col-lg-6">






                                                    <div class="card profile-card">
                                                        <div class="card-body p-0">
                                                            <div class="media p-3  align-items-center">
                                                                <img src="{% static './assets/images/users/user-4.jpg' %} "
                                                                    alt="user" class="rounded-circle thumb-xl">
                                                                <div class="media-body ml-3 align-self-center">
                                                                    <h5 class="pro-title">
                                                                        {{lawyer.user.first_name|title}}
                                                                        {{lawyer.user.last_name|title}}</h5>
                                                                    <p class="mb-2 text-muted">{{lawyer.user.email}}</p>
                                                                    <p class="mb-2 text-muted">@{{lawyer.user.username}}
                                                                    </p>

                                                                    <ul
                                                                        class="list-inline list-unstyled profile-socials mb-0">
                                                                        <!-- <li class="list-inline-item">
                                                                        <a href="#" class="btn btn-primary"><i
                                                                                class=""></i>View</a>
                                                                    </li> -->

                                                                    </ul>
                                                                </div>
                                                                <!-- <div class="action-btn">
                                                                <a href="" class=""><i
                                                                        class="fas fa-pen text-info mr-2"></i></a>
                                                                <a href="" class=""><i
                                                                        class="fas fa-trash-alt text-danger"></i></a>
                                                            </div> -->
                                                            </div>
                                                        </div>


                                                        <!--end card-body-->
                                                    </div>

                                                    <!--end card-->
                                                </div>
                                                {% endfor %}
                                            </div>





                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow-none border mb-1">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="my-0">
                                            <button class="btn btn-link collapsed ml-4 shadow-none" type="button"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                Case Timeline
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordionExample-faq">


                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="header-title mt-0 mb-3">Timeline</h4>
                                                <div class="main-timeline mt-3">


                                                    {% for task in task_list  %}


                                                    {% if forloop.first or forloop.last %}
                                                    <div class="timeline">
                                                        <span class="timeline-icon"></span>
                                                        <span class="year">{{task.deadline|date:"d M, Y"}}</span>
                                                        <div class="timeline-content">
                                                            <h5 class="title">{{task.task|title}}</h5>
                                                            <span class="post">{{task.date_modefied}}</span>
                                                            <hr>
                                                            <p class="">
                                                                {{task.description|safe}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    {% endif %}



                                                    {% if not forloop.first and not forloop.last %}
                                                    <div class="timeline">
                                                        <span class="timeline-icon"></span>
                                                        <span class="year">{{task.deadline|date:"d M, Y"}}</span>


                                                        <div class="timeline-content">
                                                            <h5 class="title">{{task.task|title}}</h5>
                                                            <span class="post">{{task.date_modefied}}</span>
                                                            <hr>

                                                            <p class="">
                                                                {{task.description|safe}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    {% endif %}



                                                    {% endfor %}





                                                </div>
                                            </div>
                                            <!--end card-body-->
                                        </div>



















                                    </div>
                                </div>



                                <div class="card shadow-none border mb-1">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="my-0">
                                            <button class="btn btn-link collapsed ml-4 shadow-none" type="button"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                Case Files
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordionExample-faq">


                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-12">
                                                    <h4 class="header-title my-3">Freelancing Projects</h4>
                                                </div>
                                            </div>
                                            <div class="file-box-content">

                                                {% if case_files %}


                                                {% for file in case_files  %}
                                                <div class="file-box">
                                                    <a href="{{file.file.url}}" class="download-icon-link">
                                                        <i class="dripicons-download file-download-icon"></i>
                                                    </a>
                                                    <div class="text-center">
                                                        <i class="far fa-file-alt text-primary"></i>
                                                        <h6 class="text-truncate">{{file.title|title}}</h6>
                                                        <!-- <small class="text-muted">06 March 2019 / 5MB</small> -->
                                                    </div>
                                                </div>
                                                {% endfor %}


                                                {% endif %}

                        </p>
                    </div>


                </div>

            </div>
        </div>
    </div>





    <!--end row-->
</div>
<!--end card-body-->
</div>
<!--end card-->
</div>
<!--end col-->


<div class="col-md-12 col-lg-4">
    <div class="card">
        <div class="card-body center">
            {% if request.user.is_superuser %}

            <h5 class="pro-title text text-center">ACTIONS</h5>
            <button class="btn btn-primary  btn-lg btn-block" data-toggle="modal" data-target=".bd-example-modal-xl">
                Edit
            </button>


            <button class="btn btn-danger  btn-lg btn-block" data-toggle="modal" data-animation="bounce"
                data-target=".bs-example-modal-center"> Delete </button>
            {% endif %}
        </div>
        <!--end card-body-->
    </div>
    <!--end card-->




</div>



<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="mySmallModalLabel">Add Case Files</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                {% include 'cases/snippets/upload_files.html' %}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>




<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Edit Case/h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                {% include 'cases/update_case.html' with case=case %}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>




<div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="exampleModalLabel">Delete Case</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>AreYou Sure You Want TO Delete {{case.name|title}}</p>


                <form action="{{case.get_delete_url}}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cancel</button>

                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                {% include 'cases/tasks/task_form.html' with task_form=task_form case=case %}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
























</div>
</div>
{% endblock content %}