<!-- load -->


{% load auth_extras %}
<tbody>

    {% for case  in  cases %}
    <tr>
        <td>
            {{case.name|title}}

        <td>{{case.category|title}}</td>


        {% if case.closed %}
        <td> <span class="badge badge-md   badge-soft-success">Archived</span> </td>
        {% else %}
        <td> <span class="badge badge-md   badge-soft-danger">Active</span> </td>
        {% endif %}


        <td> {{case.date_added}} | {{case.date_added|timesince}} Ago</td>
        <td>{{case.added_by|title}}</td>


        {% if request.user|has_group:"Lawyer" %}
        <td>

            <a href="{{case.get_absolute_url}}" class="btn btn-gradient-secondary waves-effect waves-light"><i
                    class="mdi mdi-eye"></i></a>


        </td>

        {% endif %}

    </tr>



    {% endfor %}


    <!--end tr-->

</tbody>