{% load crispy_forms_tags %}

<form action="{% url 'cases:cat_update' cat.pk %}" method="post">
    {% csrf_token %}
    {{cat_form|crispy}}
    {{cat_form.errors}}

  <center>

                                            <button type="submit" class="btn btn-secondary">Save changes</button>

                                            <button type="button" class="btn btn-danger waves-effect"
                                                data-dismiss="modal">Close</button>
                                        </center>

</form>