{% extends "base.html" %}
{% load static %}

{% block ttile %}
Principles
{% endblock ttile %}


{% block content %}


<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Sk Boafo & Co.</a></li>

                            <li class="breadcrumb-item"><a href="javascript:void(0);">Authorities</a></li>
                            <li class="breadcrumb-item active"></li>
                        </ol>
                    </div>
                    <h4 class="page-title"></h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->

            {% include 'messages/messages.html' %}

        </div>
        <!-- end page title end breadcrumb -->



        <div class="row">
            {% for prin in page_obj  %}

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="blog-card">
                            <div class="meta-box">

                                <center>
                                    <img src="{% static './assets/images/scales2.png' %}" alt="" class="img-fluid" />
                                </center>
                                <ul class="p-0 mt-4 list-inline">
                                    <li class="list-inline-item">{{prin.date_add}}</li>
                                    <li class="list-inline-item">by <a href="">{{prin.added_by}}</a></li>
                                </ul>
                            </div>
                            <!--end meta-box-->
                            <h4 class="mt-2 mb-3">
                                <a href="">{{prin.principle|title}}</a>
                            </h4>
                            <ul class="p-0 mt-4 list-inline">

                                {% for tag in prin.authority.all  %}
                                <li class="list-inline-item"><a href="{% url 'principles:tag_list' tag.pk %}"><span
                                            class="badge badge-secondary px-3">{{tag.title|title}}</span></a>
                                </li>
                                {% endfor %}
                            </ul>

                            <a href="{% url 'principles:principle_detail' prin.pk %}" class="text-primary">Continue
                                Reading <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                        <!--end blog-card-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->

            {% endfor %}

            <!--end col-->



        </div>
        <center>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-info">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-info">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-info">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-info">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </center>




        <!--end row-->

    </div><!-- container -->



    `{% endblock content %}