{% extends 'base.html' %}


{% load static %}



{% block content %}

<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Firm</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Staff</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Profile</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->



        {% include 'messages/messages.html' %}

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body  met-pro-bg">
                        <div class="met-profile">
                            <div class="row">
                                <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
                                    <div class="met-profile-main">
                                        <div class="met-profile-main-pic">
                                            <img src="../assets/images/users/user-4.jpg" alt="" class="rounded-circle">
                                            <span class="fro-profile_main-pic-change">
                                                <i class="fas fa-camera"></i>
                                            </span>
                                        </div>
                                        <div class="met-profile_user-detail">
                                            <h5 class="met-user-name">{{staff.user.first_name}}
                                                {{staff.user.last_name}}</h5>
                                            <p class="mb-0 met-user-name-post">{{staff.role|title}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-4 ml-auto">
                                    <ul class="list-unstyled personal-detail">
                                        <li class=""><i class="dripicons-phone mr-2 text-info font-18"></i> <b> phone
                                            </b> : {{staff.user.phone}}</li>
                                        <li class="mt-2"><i class="dripicons-mail text-info font-18 mt-2 mr-2"></i> <b>
                                                Email </b> :{{staff.user.email}}</li>
                                        <!-- <li class="mt-2"><i class="dripicons-location text-info font-18 mt-2 mr-2"></i> <b>Location</b> : USA</li> -->
                                    </ul>
                                    <div class="button-list btn-social-icon">
                                        <button type="button" class="btn btn-blue btn-round">
                                            <i class="fab fa-facebook-f"></i>
                                        </button>

                                        <button type="button" class="btn btn-secondary btn-round ml-2">
                                            <i class="fab fa-twitter"></i>
                                        </button>

                                        <button type="button" class="btn btn-pink btn-round  ml-2">
                                            <i class="fab fa-dribbble"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end f_profile-->
                    </div>
                    <!--end card-body-->
                    <div class="card-body">
                        <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="general_detail_tab" data-toggle="pill"
                                    href="#general_detail">Recent Activity</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" id="education_detail_tab" data-toggle="pill"
                                    href="#education_detail">Education</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="portfolio_detail_tab" data-toggle="pill"
                                    href="#portfolio_detail">Portfolio</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" id="settings_detail_tab" data-toggle="pill"
                                    href="#settings_detail">Settings</a>
                            </li>
                        </ul>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-12">
                <div class="tab-content detail-list" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="general_detail">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">

                                                {% if staff.user.avatar %}
                                                <img src="{{staff.user.avatar.url}}" alt="" class="img-fluid">
                                                {% else %}
                                                <img src="{% static './assets/images/small/user-pro.jpg' %}" alt=""
                                                    class="img-fluid">
                                                {% endif %}


                                            </div>
                                            <div class="col-md-6">




                                            </div>
                                            <div class="col-lg-4">
                                                <div class="row">
                                                    <div class="col-lg-6 mx-auto">
                                                        <div class="own-detail own-detail-happy bg-success">


                                                            {% if doc %}
                                                            <h1>{{doc.count}}</h1>
                                                            <h5>Document(s) Added</h5>

                                                            {% else %}
                                                            <h1>0</h1>
                                                            <h5>Document(s) Added</h5>
                                                            {% endif %}

                                                        </div>
                                                        <div class="own-detail own-detail-project bg-secondary">

                                                            {% if rec %}
                                                            <h1>{{rec.count}}</h1>
                                                            <h5>Approved Document(s)</h5>

                                                            {% else %}
                                                            <h1>0</h1>
                                                            <h5>Approved Document(s)</h5>
                                                            {% endif %}

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end card-body-->
                                </div>
                                <!--end card-->

                                <!--end card-->

                                <div class="card">
                                    <div class="card-body">


                                        <div class="accordion" id="accordionExample-faq">
                                            <div class="card shadow-none border mb-1">
                                                <div class="card-header" id="headingOne">
                                                    <h5 class="my-0">
                                                        <button class="btn btn-link ml-4 shadow-none" type="button"
                                                            data-toggle="collapse" data-target="#collapseOne"
                                                            aria-expanded="true" aria-controls="collapseOne">
                                                            Document Approved By {{staff.user.first_name}}
                                                            {{staff.user.last_name}}
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                    data-parent="#accordionExample-faq">
                                                    <div class="card-body">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <!-- <button class="btn btn-gradient-primary px-4 float-right mt-0 mb-3" 
                                                                    data-toggle="modal" data-animation="bounce"
                                                                    data-target=".bs-example-modal-lg"><i
                                                                        class="mdi mdi-plus-circle-outline mr-2"></i>Add New Request</button> -->



                                                                <div class="modal fade bs-example-modal-lg"
                                                                    tabindex="-1" role="dialog"
                                                                    aria-labelledby="myLargeModalLabel"
                                                                    aria-hidden="true">
                                                                    <div class="modal-dialog modal-lg">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title mt-0 text text-center"
                                                                                    id="myLargeModalLabel">Add New
                                                                                    Document</h5>
                                                                                <button type="button" class="close"
                                                                                    data-dismiss="modal"
                                                                                    aria-hidden="true">×</button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                {% include 'records/add_record.html' %}
                                                                            </div>
                                                                        </div><!-- /.modal-content -->
                                                                    </div><!-- /.modal-dialog -->
                                                                </div>






                                                                <div class="table-responsive dash-social">
                                                                    <table id="datatable" class="table">
                                                                        <thead class="thead-light">
                                                                            <tr>
                                                                                <th>Document Title</th>

                                                                                <th>Requested By</th>
                                                                                <th>Date Requested</th>
                                                                                <th>Approved By</th>
                                                                                <th>Date Approved</th>







                                                                                <th>Action</th>
                                                                            </tr>
                                                                            <!--end tr-->
                                                                        </thead>

                                                                        {% include 'records/snippets/list.html' with recs=rec %}
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <!--end card-body-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card shadow-none border mb-1">
                                                <div class="card-header" id="headingTwo">
                                                    <h5 class="my-0">
                                                        <button
                                                            class="btn btn-link collapsed ml-4 align-self-center shadow-none"
                                                            type="button" data-toggle="collapse"
                                                            data-target="#collapseTwo" aria-expanded="false"
                                                            aria-controls="collapseTwo">
                                                            Documents Added by
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                    data-parent="#accordionExample-faq">
                                                    <div class="card-body">
                                                        <div class="table-responsive dash-social">
                                                            <table id="datatable" class="table">
                                                                <thead class="thead-light">
                                                                    <tr>
                                                                        <th>Document Title</th>
                                                                        <th>Category</th>
                                                                        <th>Added By</th>
                                                                        <th>Status</th>


                                                                        <th>Date Added</th>
                                                                        <th>Location</th>


                                                                        <th>Action</th>
                                                                        <th> </th>

                                                                    </tr>
                                                                    <!--end tr-->
                                                                </thead>

                                                                {% include 'documents/snippets/list.html' with docs=doc %}
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!--end accordion-->
                                    </div>
                                    <!--end card-body-->
                                </div>








                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end general detail-->

                    <!-- Education detail here -->
                    <!-- Portfolio detail here -->
                    <div class="tab-pane fade" id="settings_detail">
                        <div class="row">
                            <div class="col-lg-12 col-xl-9 mx-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <hr>

                                        <div class="">


                                            {% include 'accounts/snippets/staff_update_form.html' %}


                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end settings detail-->
            </div>
            <!--end tab-content-->

        </div>
        <!--end col-->
    </div>
    <!--end row-->

</div>
{% endblock content %}