{% extends 'base.html' %}

{% load static %}



{% block content %}
<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">S.K. Boafo & Co.</a></li>

                            <li class="breadcrumb-item"><a href="{% url 'accounts:staff_list' %}">Staff List</a></li>
                            <li class="breadcrumb-item active">Staff Details</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Staff Details</h4>
                </div>
                <!--end page-title-box-->



            </div>
            <!--end col-->


        </div>
        <!-- end page title end breadcrumb -->


        {% include 'messages/messages.html' %}

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body profile-card">
                        <div class="media align-items-center">

                            <!--{% if staff.user.avatar %}-->
                            <!--<img src="{{staff.user.avatar.url}}" alt="user" class="rounded-circle thumb-lg">-->


                            <!--{% else %}-->


                            <!--<img src="{% static './assets/images/users/user-4.jpg' %}" alt="user"-->
                            <!--    class="rounded-circle thumb-lg">-->
                            <!--{% endif %}-->


                            <div class="media-body ml-3 align-self-center">
                                <h5 class="pro-title">{{staff.user.first_name|title}} {{staff.user.last_name|title}}
                                </h5>
                                <p class="mb-1 text-muted">Username: @{{staff.user.username}}</p>


                            </div>
                            <div class="action-btn">
                                {% if user.is_superuser %}
                                <button class="mr-1 btn btn-sm btn-info" data-toggle="modal" data-animation="bounce"
                                    data-target=".bs-example-modal-lg"><i class="fas fa-pen"></i></button>
                                <!-- <button class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button> -->
                                <button class="btn btn-sm btn-danger" data-toggle="modal" data-animation="bounce"
                                    data-target=".bs-example-modal-sm"><i class="far fa-trash-alt"></i></button>
                                {% endif %}


                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div><!-- end col-->
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-0 align-self-center">
                                        <!-- <div class="icon-info">
                                            <i class="mdi mdi-account-group text-warning"></i>
                                        </div> -->
                                    </div>
                                    <div class="col-12 ">
                                        <div class="ml-2">
                                            <p class="mb-1 text-muted"></p>



                                            <p class="mb-1 text-muted">Role: {{staff.role|title}} | Email:
                                                {{staff.user.email}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress mt-2" style="height:3px;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 55%;"
                                        aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->




                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <div class="icon-info">
                                            <i class="mdi mdi-folder-open text-purple"></i>
                                        </div>
                                    </div>
                                    <div class="col-8 align-self-center text-right">
                                        <div class="ml-2">
                                            <div class="ml-2">
                                                <p class="mb-0 text-muted">Documents Added
                                                </p>
                                                <h4 class="mt-0 mb-1 d-inline-block text-purple font-22">
                                                    {{doc.count}}</h4>
                                                <span class="badge badge-soft-success mt-1 shadow-none">Active</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress mt-2" style="height:3px;">
                                    <div class="progress-bar bg-purple" role="progressbar" style="width: 39%;"
                                        aria-valuenow="39" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->

                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <div class="icon-info">
                                            <i class="mdi mdi-folder text-pink"></i>
                                        </div>
                                    </div>
                                    <div class="col-8 align-self-center text-right">
                                        <div class="ml-2">
                                            <p class="mb-0 text-muted">Documents Approved </p>
                                            <h4 class="mt-0 mb-1 d-inline-block text-pink font-22">
                                                {{rec.count}}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress mt-2" style="height:3px;">
                                    <div class="progress-bar bg-pink" role="progressbar" style="width: 48%;"
                                        aria-valuenow="48" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end col-->

        </div>
        <!--end row-->

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">


                        <div class="accordion" id="accordionExample-faq">
                            <div class="card shadow-none border mb-1">
                                <div class="card-header" id="headingOne">
                                    <h5 class="my-0">
                                        <button class="btn btn-link ml-4 shadow-none" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Document Approved By {{staff.user.first_name}}
                                            {{staff.user.last_name}}
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExample-faq">
                                    <div class="card-body">
                                        <div class="card">
                                            <div class="card-body">
                                                <!-- <button class="btn btn-gradient-primary px-4 float-right mt-0 mb-3"
                                                    data-toggle="modal" data-animation="bounce"
                                                    data-target=".bs-example-modal-lg"><i
                                                        class="mdi mdi-plus-circle-outline mr-2"></i>Add New Request</button> -->










                                                <div class="table-responsive dash-social">
                                                    <table id="datatable" class="table">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th>Document Title</th>

                                                                <th>Requested By</th>
                                                                <th>Date Requested</th>
                                                                <th>Approved By</th>
                                                                <th>Date Approved</th>







                                                                <th>Action</th>
                                                            </tr>
                                                            <!--end tr-->
                                                        </thead>

                                                        {% include 'records/snippets/list.html' with recs=rec %}
                                                    </table>
                                                </div>
                                            </div>
                                            <!--end card-body-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-none border mb-1">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="my-0">
                                        <button class="btn btn-link collapsed ml-4 align-self-center shadow-none"
                                            type="button" data-toggle="collapse" data-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            Documents Added by {{staff.user.first_name|title}}
                                            {{staff.user.last_name|title}}
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample-faq">
                                    <div class="card-body">
                                        <div class="table-responsive dash-social">
                                            <table id="datatable" class="table">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Document Title</th>
                                                        <th>Category</th>
                                                        <th>Added By</th>
                                                        <th>Status</th>


                                                        <th>Date Added</th>
                                                        <th>Location</th>


                                                        <th>Action</th>
                                                        <th> </th>
                                                    </tr>
                                                    <!--end tr-->
                                                </thead>

                                                {% include 'documents/snippets/list.html' with docs=doc %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--end accordion-->
                    </div>
                    <!--end card-body-->
                </div>




                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->

    </div><!-- container -->



    <!--  Modal content for the above example -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myLargeModalLabel">Update Staff</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    {% include 'accounts/update_staff.html' with user_form=user_form staff_form=staff_form %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>





    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="mySmallModalLabel">Delete User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'accounts:delete_staff' staff.pk %}" method="POST">
                        {% csrf_token %}
                        <p>Are you sure you want to delete {{staff.user.first_name}} {{staff.user.last_name}} ?</p>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    {% endblock content %}