<div class="table-responsive dash-socials">
    <table id="datatable" class="table">
        <thead class="thead-light">
            <tr>
                <th>Document Title</th>

                <th>Requested By</th>
                <th>Date Requested</th>
                <th>Approved By</th>
                <th>Date Approved</th>
                <th>Action</th>








            </tr>
            <!--end tr-->
        </thead>


        <tbody>

            {% for app  in  approved %}
            <tr>
                <td>
                    {{app.document.title|title}}

                    <!-- <td>{{app.document.category|title}}</td> -->


                    <!-- {% if app.document.status|stringformat:"s" == 'Not Available' %}
                <td><span class="badge badge-md   badge-soft-danger">{{app.document.status}}</span> </td>
                {% else %}
                <td><span class="badge badge-md   badge-soft-success">{{app.document.status}}</span> </td>
        
                {% endif %} -->

                <td>{{app.requested_by|title}}</td>
                <td>{{app.date_requested}}</td>
                <td>{{app.approved_by|title}}</td>
                <td>{{app.date_approved}}</td>




                <td>
                    <a href="{% url 'documents:return-doc' app.pk %}"
                        class="btn btn-gradient-success waves-effect waves-light"></i>Return Document</a>


                </td>
            </tr>



            {% endfor %}


            <!--end tr-->

        </tbody>


    </table>
</div>