{% extends 'base.html' %}



{% block title %}
Document List
{% endblock title %}


{% load auth_extras %}






{% block content %}
<!-- Page Content-->




<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">S.K. Boafo & Co.</a></li>

                            <li class="breadcrumb-item active">Request List</li>
                        </ol>
                    </div>

                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->

        {% include 'messages/messages.html' %}








        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <!-- <button class="btn btn-gradient-primary px-4 float-right mt-0 mb-3" data-toggle="modal"
                            data-target=".bd-example-modal-xl"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New
                            Document</button> -->

                        <h4 class="mt-0 header-title">Request List</h4>

                        {% include 'records/request.html' with recs=recs %}



                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->


    {% endblock content %}