{% extends 'base.html' %}
{% load static %}
{% load auth_extras %}
{% block title %}
Visitor List


{% endblock title %}

{% block content %}


<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Sk Boafo & Co.</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'visitors:visitor_list' %}">List</a>
                            </li>
                            <li class="breadcrumb-item active">Visitor List</li>
                        </ol>
                    </div>

                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->

        {% include 'messages/messages.html' %}








        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <button class="btn btn-gradient-primary px-4 float-right mt-0 mb-3" data-toggle="modal"
                            data-target=".bd-example-modal-xl"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New
                            Visitor</button>

                        <h4 class="mt-0 header-title">vis List</h4>

                        <div class="table-responsive dash-social">
                            <table id="datatable" class="table">
                                <thead>
                                    <tr>

                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Date</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>


                                <!-- load -->


                                <tbody>

                                    {% for vis  in  visitor_list %}
                                    <tr>


                                        <td>{{vis.name|title}}</td>





                                        <td> {{vis.email}}</td>
                                        <td>{{vis.phone}}</td>
                                        <td>{{vis.timestamp}}</td>
                                        <td> <a href="{{vis.get_absolute_url}}" class="btn btn-primary">View</a></td>






                                    </tr>



                                    {% endfor %}



                                    <!--end tr-->




                                </tbody>
                            </table>
                        </div>


                    </div>













                    <!-- sample modal content -->
                    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myModalLabel">New Visitor</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    {% include 'visitors/form.html' %}

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect"
                                        data-dismiss="modal">Close</button>

                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->













                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

    {% endblock content %}