{% load crispy_forms_tags %}


<form action="{% url 'wills:add' %}" method="post">
    {% csrf_token %}

    {{form.client|as_crispy_field}}
    {{form.lawyer|as_crispy_field}}

    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.date_of_execution|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.date_deposited|as_crispy_field }}
        </div>

    </div>



    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.receipt_number|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.court|as_crispy_field }}
        </div>

    </div>


    {{form.internal_depository|as_crispy_field}}







    <center>

        <button type="submit" class="btn btn-primary">Add Will</button>
        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>

    </center>


</form>