{% load static %}

<footer class="footer text-center text-sm-left">
    &copy; 2019 Metrica <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i
            class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>
</footer>
<!--end footer-->
</div>
<!-- end page content -->
</div>
<!-- end page-wrapper -->

<!-- jQuery  -->
<script src="{% static './assets/js/jquery.min.js' %} "></script>
<script src="{% static './assets/js/bootstrap.bundle.min.js' %} "></script>
<script src="{% static './assets/js/metisMenu.min.js' %} "></script>
<script src="{% static './assets/js/waves.min.js' %} "></script>
<script src="{% static './assets/js/jquery.slimscroll.min.js' %} "></script>

<script src="{% static './assets/plugins/chartjs/chart.min.js' %}"></script>
<script src="{% static './assets/pages/jquery.chartjs.init.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>



<script src="{% static './assets/plugins/apexcharts/apexcharts.min.js' %} "></script>
<script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>
<script src="https://apexcharts.com/samples/assets/ohlc.js"></script>
<!-- Required datatable js -->
<script src="{% static './assets/plugins/datatables/jquery.dataTables.min.js' %} "></script>
<script src="{% static './assets/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static './assets/plugins/peity-chart/jquery.peity.min.js' %} "></script>
<script src="{% static './assets/pages/jquery.ana_customers.inity.js' %} "></script>
<!-- <script src="{% static './assets/plugins/RWD-Table-Patterns/dist/js/rwd-table.min.js' %} "></script>

<script src="{% static './assets/pages/jquery.responsive-table.init.js' %} "></script> -->

<script src=" {% static './assets/plugins/daterangepicker/daterangepicker.js' %} "></script>

<script src="{% static './assets/plugins/select2/select2.min.js' %} "></script>
<script src="{% static './assets/plugins/timepicker/bootstrap-material-datetimepicker.js' %} "></script>
<script src="{% static './assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js' %} "></script>




<script src="{% static './assets/plugins/tinymce/tinymce.min.js' %} "></script>
<script src="{% static './assets/pages/jquery.form-editor.init.js' %}"></script>
<script src="{% static './assets/pages/jquery.forms-advanced.js' %} "></script>

<!-- App js -->
<script src="{% static './assets/js/app.js' %} "></script>
{% include 'js_snippets.html' %}


{% block page_js %}

{% endblock page_js %}




</body>

</html>