{% load static %}

<script>

    var endpoint = "api/chart/data"
    var defaultData = []
    var labels = []

    var label1 = []
    var data2 = []
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            console.log(data)

            labels = data.labels
            defaultData = data.default
            label1 = data.label1
            data2 = data.data2

            setChart()



        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)





        }

    });



    function setChart() {

        var ctx = document.getElementById('myChart').getContext('2d');
        var ctx2 = document.getElementById('myChart2').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '# Cases',
                    data: defaultData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });



        var myChart = new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: label1,
                datasets: [{
                    label: '# Orders/department',
                    data: data2,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


    }
</script>
<!-- 

<script>
    $(document).ready(function () {
        $('#table_id').DataTable(
            {
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'secondary',
                    buttons: ['csv', 'excel', 'pdf']
                },

                columnDefs: [
                    {
                        targets: [0, 1, 2],
                        className: 'mdl-data-table__cell--non-numeric'
                    }
                ]



            }
        )

    });
</script> -->

<script>

    $(document).ready(function () {
        $("#e1").select2();
    });
</script>