{% load crispy_forms_tags %}






{% csrf_token %}



<div class="form-row">
    <div class="form-group col-md-12 mb-0">
        {{ form.name|as_crispy_field }}
    </div>

</div>
{{ form.description|as_crispy_field }}

{{ form.lawyer|as_crispy_field }}
<div class="form-row">
    <div class="form-group col-md-6 mb-0">
        {{ form.client|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.court|as_crispy_field }}
    </div>

</div>


<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form.category|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.representative|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.date_added|as_crispy_field }}
    </div>
</div>


<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form.court_number|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.case_number|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.suit_number|as_crispy_field }}
    </div>

</div>